name: Example builds

on:
  push:
    branches:
      - master
      # https://docs.renovatebot.com/key-concepts/automerge/#branch-vs-pr-automerging
      - "renovate/**" # branches Renovate creates
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  example-usage:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        nextflow_version:
          - "21.10.3"
          - "22.04"
          - "22.03.1-edge"
          - "24.10.1"
          - "latest"
          - "latest-stable"
          - "latest-edge"
          - "latest-everything"
        all_distribution:
          - true
          - false

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npm run package
      - uses: ./
        with:
          version: ${{ matrix.nextflow_version }}
          all: ${{ matrix.all_distribution }}
      - run: nextflow -v

  example-maximized-build-space:
    runs-on: ubuntu-latest
    steps:
      - uses: easimon/maximize-build-space@fc881a613ad2a34aca9c9624518214ebc21dfc0c # v10
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npm run package
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        if: ${{ env.ACT}}
        with:
          java-version: 11
          distribution: zulu
      - uses: ./
      - run: nextflow -v
